@page "/funds/{symbol}"
@inject IUserSettings UserSettings
@inject IApiClient Client
@inject IAppState AppState
@inject NavigationManager NavigationManager

@if (fund == null)
{
    <Loading />
}
else
{
    <FundSummary Fund="fund" Clickable="false" />
    <FundPerformanceChart Fund="fund" />
    <h2 class="display-4" style="text-align: center;">Fund Assets</h2>
    <FundAssetDistributionChart Fund="fund" IsHollow="true" />
    <div class="container-fluid">
        @foreach (var asset in fund.Assets)
        {
            var symbol = Enum.IsDefined(typeof(Symbol), asset.Symbol)
                ? Enum.Parse<Symbol>(asset.Symbol)
                : default(Symbol?);

        <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-5" style="border: 1px solid transparent;">
            <div class="col py-1">
                <small style="font-weight: bold;">Asset Name</small>
                <div>
                    @if (symbol.HasValue && UserSettings.Funds.ContainsKey(symbol.Value))
                    {
                        <FundLink DisplayName="@UserSettings.Funds[symbol.Value].DisplayName" Name="@UserSettings.Funds[symbol.Value].Name" />
                    }
                    else
                    {
                        <img src="https://c2.coinlore.com/img/@(asset.CoinId).png" onerror="this.attributes.getNamedItem('src').value = 'images/default.png'" width="32" height="32" style="margin: 0 auto; padding-right: 3px;" />
                        @asset.Name
                    }
                </div>
            </div>
            <div class="col py-1">
                <small style="font-weight: bold;">Token</small>
                <div>
                    @if (symbol.HasValue && UserSettings.Funds.ContainsKey(symbol.Value))
                    {
                        <Token Symbol="@asset.Symbol" ContractAddress="@UserSettings.Funds[symbol.Value].ContractAddress" />
                    }
                    else
                    {
                        @asset.Symbol
                    }
                </div>
            </div>
            <div class="col py-1">
                <small style="font-weight: bold;">Value (@UserSettings.CurrencyCode.GetSymbol())</small>
                <div>
                    <Money Value="@asset.Value" CurrencyCode="UserSettings.CurrencyCode" />
                </div>
            </div>
            <div class="col py-1">
                <small style="font-weight: bold;">Share</small>
                <div>
                    <LargeNumber Value="asset.Share" Decimals="2" Suffix="%" />
                </div>
            </div>
            <div class="col py-1">
                <small style="font-weight: bold;">Explore</small>
                <div>
                    @if (symbol.HasValue)
                    {
                        <a @onclick="async (e) => { Symbol = asset.Symbol; await DrawAsync(false); }" href="funds/@symbol.Value" class="btn btn-primary btn-sm @symbol.Value.ToString().ToLower()" role="button">View Details</a>
                    }
                    else
                    {
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#@(asset.Symbol)Model">
                            Performance
                        </button>
                        <div class="modal fade modal-xl" id="@(asset.Symbol)Model" tabindex="-1" aria-hidden="true" style="max-width: unset !important;">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Performance Overview</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <CoinWidget CoinId="@asset.CoinId" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a href="@asset.Link.OriginalString" target="_blank" class="btn btn-danger" role="button">Explore</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        }
    </div>
}

@code {

    private ApiFund fund;

    [Parameter]
    public string Symbol { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AppState.Assign(async () => await DrawAsync(false));

        await DrawAsync(true);
    }

    private async Task DrawAsync(bool firstRender)
    {
        if (Enum.TryParse(Symbol, out Symbol symbol))
        {
            if (!firstRender)
            {
                fund = null;

                StateHasChanged();
            }

            fund = await Client.GetFundAsync(symbol);

            StateHasChanged();
        }
        else
        {
            throw new ArgumentException($"Could not pass parameter '{Symbol}'", nameof(Symbol));
        }
    }
}
