@inject IAppState AppState
@inject IUserSettings UserSettings
@inject HttpClient Client;

<div>
    @if (Coin != null)
    {
        <div style="color:#333; background: #fff; font-family: Helvetica,Arial,sans-serif; min-width:285px;">
            <div>
                <div style="float:right; width:67%; border: none; text-align:left; padding:5px 0px; line-height:25px;">
                    <span style="font-size: 17px; text-decoration: none; color: #333;font-weight: bold">
                        @Coin.Name
                        <span style="font-size: 10px;padding-left: 5px">@Coin.Symbol</span>
                    </span>
                    <div style="font-size: 16px;color:#333">
                        <Money Value="@(decimal.TryParse(Coin.PriceUSD, out decimal price) ? price : decimal.Zero)" CurrencyCode="UserSettings.CurrencyCode" Decimals="2" ShowZeroValue="true" />
                        <ProfitTag Value="@(decimal.TryParse(Coin.PercentChangeHourly, out decimal hourlyVal) ? hourlyVal : decimal.Zero)" Decimals="2" Suffix="%" />
                    </div>
                    <div style="font-size: 12px; color:#959595">
                        @Coin.PriceBTC BTC
                    </div>
                </div>
                <div style="text-align:center;padding:5px 0px;width:33%;">
                    <img src="@ImageLink.OriginalString" onerror="this.attributes.getNamedItem('src').value = 'images/default.png'"  width="64" height="64" style="margin: 0 auto;">
                </div>
            </div>
            <div style="clear:both;">
                <div style="text-align:center;float:left;width:25%;font-size:12px;padding:12px 0;line-height:1.25em;">
                    <b>Rank</b>
                    <br />
                    <br />
                    <span style="font-size: 17px;">
                        @Coin.Rank
                    </span>
                </div>
                <div style="text-align:center; float:left; width:25%; font-size:12px; padding:12px 0 16px 0; line-height:1.25em;">
                    <b>Market Cap</b>
                    <br />
                    <br />
                    <span style="font-size: 14px;">
                        @Coin.MarketCap
                        <span style="font-size:9px">@UserSettings.CurrencyCode</span>
                    </span>
                </div>
                <div style="text-align:center;float:left;width:25%;font-size:12px;padding:12px 0 16px 0;line-height:1.25em;">
                    <b>Vol (24H)</b>
                    <br />
                    <br />
                    <span style="font-size: 14px;">
                        @Coin.VolumeUSD
                        <span style="font-size:9px">@UserSettings.CurrencyCode</span>
                    </span>
                </div>
                <div style="text-align:center; float:left; width:24%; font-size:12px; padding:12px 0 16px 0; line-height:1.25em;">
                    <b>Price Movement</b>
                    <br />
                    <small style="padding-right: 2px;">1D</small>
                    <ProfitTag Value="@(decimal.TryParse(Coin.PercentChangeDaily, out decimal dailyVal) ? dailyVal : decimal.Zero)" Decimals="2" Suffix="%" />
                    <br />
                    <small style="padding-right: 2px;">1W</small>
                    <ProfitTag Value="@(decimal.TryParse(Coin.PercentChangeWeekly, out decimal weeklyVal) ? weeklyVal : decimal.Zero)" Decimals="2" Suffix="%" />
                </div>
            </div>
        </div>
    }
    else
    {
        <Loading />
    }
</div>

@code {
    private ApiCoin Coin;

    [Parameter]
    public Uri CoinLink { get; set; }

    [Parameter]
    public Uri ImageLink { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AppState.Assign(async () => await DrawAsync(false));

        await DrawAsync(true);
    }

    private async Task DrawAsync(bool firstRender)
    {
        if (!firstRender)
        {
            Coin = null;

            StateHasChanged();
        }

        var response = await Client.GetAsync(CoinLink);

        Coin = JsonConvert.DeserializeObject<List<ApiCoin>>(await response.Content.ReadAsStringAsync())
            .SingleOrDefault();

        Console.WriteLine(JsonConvert.SerializeObject(Coin));

        StateHasChanged();
    }
}
