@inject IUserSettings UserSettings
@inject IAppState AppState

<Header Fund="Fund" Link="Link" ShowGraph="ShowGraph">
    <Content>
        <div class="container-fluid" style="max-width: none">
            <div class="row">
                <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="min-width: 200px; padding-bottom: 15px;">
                    <small style="font-weight: bold; color: #cf2127;">Token</small>
                    <div>
                        <Token Symbol="@Fund.Token.Symbol.ToString()" ContractAddress="@Fund.Token.Address" />
                    </div>
                </div>
                <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="min-width: 200px; padding-bottom: 15px;">
                    <small style="font-weight: bold; color: #cf2127;">Circ. Supply</small>
                    <div>
                        <LargeNumber Value="Fund.CirculatingSupply" Decimals="2" />
                    </div>
                </div>
                <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="min-width: 200px; padding-bottom: 15px;">
                    <small style="font-weight: bold; color: #cf2127;">Net Value (@UserSettings.CurrencyCode.GetSymbol())</small>
                    <div>
                        <Money Value="@Fund.Nav.Value" CurrencyCode="UserSettings.CurrencyCode" />
                    </div>
                </div>
                <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="min-width: 200px; padding-bottom: 15px;">
                    <small style="font-weight: bold; color: #cf2127;">Nav (@UserSettings.CurrencyCode.GetSymbol())</small>
                    <div>
                        <Money Value="@Fund.Nav.ValuePerToken" CurrencyCode="UserSettings.CurrencyCode" />
                    </div>
                </div>
                @if (Fund.Market.IsTradeable)
                {
                    <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="min-width: 200px; padding-bottom: 15px;">
                        <small style="font-weight: bold; color: #cf2127;">Market Value (@UserSettings.CurrencyCode.GetSymbol())</small>
                        <div>
                            <Money Value="Fund.Market.Total" CurrencyCode="UserSettings.CurrencyCode" />
                        </div>
                    </div>
                    <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="min-width: 200px; padding-bottom: 15px;">
                        <small style="font-weight: bold; color: #cf2127;">Price (@UserSettings.CurrencyCode.GetSymbol())</small>
                        <div>
                            <Money Value="Fund.Market.PricePerToken" CurrencyCode="UserSettings.CurrencyCode" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </Content>
    <Chart>
        <FundPerformanceChart Fund="Fund" />
    </Chart>
</Header>

@code {
    [Parameter]
    public ApiFund Fund { get; set; }

    [Parameter]
    public bool Clickable { get; set; }

    [Parameter]
    public bool ShowGraph { get; set; }

    protected Uri Link => Clickable
        ? new Uri($"funds/{Fund.Token.Symbol}", UriKind.Relative)
        : null;

    protected override void OnInitialized()
    {
        AppState.Assign(StateHasChanged);
    }
}
