@inject IAppState AppState

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="media" style="margin-top: auto; margin-bottom: auto; padding-bottom: 6px; position: relative;">
            <img src="images/funds/@($"{Product.Token.Symbol}.png")" class="mr-1" alt="@Product.DisplayName">
            <h1 class="display-3" style="display: inline-grid;">
                <small class="text-muted" style="font-size: xx-large;">@Product.Category</small>
                @Product.DisplayName
            </h1>
            <div class="text-align-mob-center" style="margin-left: 5px;">
                @if (Product.Token.Symbol.IsFund())
                {
                    <ValueBubble Type="Nav" Pricing="Product.Nav" Decimals="2" Symbol="Product.Token.Symbol" />
                }
                @if (Product.Market.IsTradeable)
                {
                    <span style="padding-left: @(Product.Token.Symbol.IsFund() ? 5 : 0)px;">
                        <ValueBubble Type="Mkt" Pricing="Product.Market" Decimals="2" />
                    </span>
                }
            </div>
            <div style="position: absolute; display: inline-block; right: 0; left: auto; top: 0; height: 20px;">
                <a class="badge neutral" href="@Product.Links.Detail" target="_blank" style="">@(Product.Token.Symbol.IsFund() ? "Lite" : "Pool")</a>
                <a class="badge @Product.Token.Symbol.ToString().ToLower()" href="@Product.Links.Fact" target="_blank">Fact</a>
            </div>
        </div>
        <p class="lead text-mob-md text-justify text-sm-left">@Product.Description</p>
        <div class="media text-center text-sm-left" style="padding-top: 12px; padding-bottom: 12px; border: 1px solid transparent;">
            @Content
        </div>
        @if (ShowGraph)
        {
            @Chart
        }
        @if (Link != null)
        {
            <a href="@Link.OriginalString"
               class="btn btn-primary btn-lg @Product.Token.Symbol.ToString().ToLower() mx-auto mr-sm-0"
               role="button"
               style="display: block; max-width: 150px;">Explore</a>
        }
    </div>
</div>

@code {

    [Parameter]
    public Uri Link { get; set; }

    [Parameter]
    public bool ShowGraph { get; set; }

    [Parameter]
    public RenderFragment Chart { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public IProduct Product { get; set; }

    protected override void OnInitialized()
    {
        AppState.Assign(StateHasChanged);
    }
}