@inject IAppState AppState
@inject NavigationManager NavigationManager

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="media" style="margin-top: auto; margin-bottom: auto; padding-bottom: 6px;">
            <img src="images/funds/@FundImageName" class="mr-3" alt="@Investment.Fund.DisplayName">
            <h1 class="display-4">@Investment.Fund.DisplayName</h1>
            <a class="badge badge-secondary" href="@Investment.Fund.Links.Lite" style="float: right; margin-left: 5px;" target="_blank">Lite</a>
            <a class="badge @Investment.Fund.Token.Symbol.ToString().ToLower()" href="@Investment.Fund.Links.Fact" style="float: right; margin-left: 5px;" target="_blank">Fact</a>
        </div>
        <p class="lead">@Investment.Fund.Description</p>
        <div class="media" style="padding-top: 12px; padding-bottom: 12px; border: 1px solid transparent;">
            <div class="container-fluid" style="max-width: none">
                <div class="row">
                    <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="min-width: 200px; padding-bottom: 15px;">
                        <small style="font-weight: bold;">Token</small>
                        <div>
                            <Token Symbol="@Investment.Fund.Token.Symbol.ToString()" ContractAddress="@Investment.Fund.Token.Address" />
                        </div>
                    </div>
                    <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="min-width: 200px; padding-bottom: 15px;">
                        <small style="font-weight: bold;">Held</small>
                        <div>
                            <LargeNumber Value="Investment.Held" Decimals="2" />
                        </div>
                    </div>
                    <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="min-width: 200px; padding-bottom: 15px;">
                        <small style="font-weight: bold;">Net Value (@CurrencyCode.GetSymbol())</small>
                        <div>
                            <Money Value="Investment.RealValue" CurrencyCode="CurrencyCode" />
                        </div>
                    </div>
                    <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="min-width: 200px; padding-bottom: 15px;">
                        <small style="font-weight: bold;">Held</small>
                        <div>
                            <LargeNumber Value="Investment.Share" Decimals="2" Suffix="%" />
                        </div>
                    </div>
                    @if (Investment.Fund.Market.IsTradeable)
                    {
                        <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="min-width: 200px; padding-bottom: 15px;">
                            <small style="font-weight: bold;">Market Value (@CurrencyCode.GetSymbol())</small>
                            <div>
                                <Money Value="Investment.MarketValue ?? 0" CurrencyCode="CurrencyCode" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (Clickable)
        {
            <a href="investments/@Investment.Fund.Token.Symbol"
               class="btn btn-primary btn-lg @Investment.Fund.Token.Symbol.ToString().ToLower()"
               role="button"
               style="margin-left: auto; margin-right: 0; display: block; max-width: 150px;">View Details</a>
        }
    </div>
</div>

@code {

    [Parameter]
    public ApiInvestment Investment { get; set; }

    [Parameter]
    public CurrencyCode CurrencyCode { get; set; }

    [Parameter]
    public bool Clickable { get; set; }

    public string FundImageName => $"{Investment.Fund.Token.Symbol}.png";

    protected override void OnInitialized()
    {
        AppState.Assign(StateHasChanged);
    }
}
