<div class="tooltip-container">
    <span class="@Classes">@DisplayText</span> <a href="@Url" target="_blank"><span class="oi oi-external-link" style="@Style"></span></a>
    <span class="tooltip-text" style="font-size: 12px; width: 120px">@CaptionText</span>
</div>

@code {
    [Parameter]
    public string DisplayText { get; set; }

    [Parameter]
    public string CaptionText { get; set; }

    [Parameter]
    public int FontSize { get; set; } = 12;

    [Parameter]
    public string Classes { get; set; }

    [Parameter]
    public string Url { get; set; }

    internal string Style => $"font-size: {FontSize}px;";
}
