@inject IAppState AppState

@if (Value == decimal.Zero)
{
    <span>
        <LargeNumber Value="@Value" Decimals="@Decimals" FontSize="FontSize" ToolTipFontSize="ToolTipFontSize" ShowZeroValue="ShowZeroValue" />
    </span>
}
else
{
    <span>
        @CurrencyCode.GetSymbol()
        <LargeNumber Value="@Value" Decimals="@Decimals" FontSize="FontSize" ToolTipFontSize="ToolTipFontSize" ShowZeroValue="ShowZeroValue" />
    </span>
}

@code {
    [Parameter]
    public decimal Value { get; set; }

    [Parameter]
    public int Decimals { get; set; } = 2;

    [Parameter]
    public bool ShowZeroValue { get; set; }

    [Parameter]
    public int? FontSize { get; set; }

    [Parameter]
    public int? ToolTipFontSize { get; set; }

    [Parameter]
    public CurrencyCode CurrencyCode { get; set; } = CurrencyCode.USD;

    protected override void OnInitialized()
    {
        AppState.Assign(StateHasChanged);
    }
}
