@inject IAppState AppState
@inject IUserSettings UserSettings

<div class="jumbotron jumbotron-fluid" style="padding-top: 1rem; padding-bottom: 1rem;">
    <div class="container">
        <div class="media" style="margin-top: auto; margin-bottom: auto; padding-bottom: 6px;" data-toggle="collapse" href="#@CollapseId" role="button" aria-expanded="false" aria-controls="@CollapseId">
            <!--<img src="images/funds/@FundImageName" class="mr-3" alt="@Investment.Fund.DisplayName">-->
            <h4 style="padding-bottom: 0px; margin-bottom: 0px;">
                <TransactionStatus Success="Transaction.Success" Confirmations="Transaction.Confirmations" />
                <span style="padding-left: 2px;">Tx @Transaction.ConfirmedAt.ToString("F", DateTimeFormatInfo.InvariantInfo)</span>
                <BlockNumber Number="@Transaction.BlockNumber" FontSize="22" />
            </h4>
        </div>
        <div class="collapse" id="@CollapseId">
            <p class="lead">
                <EthTransactionHash Hash="@Transaction.Hash" FontSize="18" />
            </p>
            <div class="media" style="padding-top: 12px; padding-bottom: 12px; border: 1px solid transparent;">
                <div class="container-fluid" style="max-width: none; padding-left: 0px; padding-right: 0px">
                    <div class="row">
                        <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="min-width: 200px; padding-bottom: 15px;">
                            <small style="font-weight: bold;">Transfer</small>
                            <div>
                                <EthAddress Address="@Transaction.Sender" />
                                <span>➔</span>
                                <EthAddress Address="@Transaction.Recipient" />
                            </div>
                        </div>
                        <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="min-width: 100px; padding-bottom: 15px;">
                            <small style="font-weight: bold;">Eth</small>
                            <div>
                                <LargeNumber Value="@Transaction.Eth" Decimals="2" />
                            </div>
                        </div>
                        <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="min-width: 200px; padding-bottom: 15px;">
                            <small style="font-weight: bold;">Gas</small>
                            <div>
                                <TooltipItem DisplayText="@($"{Transaction.Gas} / {Transaction.GasLimit}")" CaptionText="@($"{Math.Round(Transaction.GasUsed, 2)}%")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top: 12px; padding-bottom: 12px; border: 1px solid transparent;">
                @foreach (var operation in Transaction.Operations)
                {
                    <OperationSummary Operation="operation" />
                }
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public ApiTransactionSet Transaction { get; set; }

    [Parameter]
    public bool Clickable { get; set; }

    //public string FundImageName => $"{Investment.Fund.Token.Symbol}.png";

    internal string CollapseId => $"Id-{Transaction.Hash}";

    protected override void OnInitialized()
    {
        AppState.Assign(StateHasChanged);
    }
}
